<!doctype html>
<html lang="en">
  <head>
    <style>
      .button {
  border: none;
  color: white;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  }
  .button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <title>Elanco Application API</title>
  </head>
  
  <body > 
    <py-script src="costFinder.py"> </py-script>
      <div class="container-fluid p-2 bg-primary text-white text-center">
          <h1>APPLICATIONS</h1>
      </div>
      <div class ="container mt-5">
          <table>
            <thead>
              <tr>
                <th>Select Application</th>
                
              </tr>
            </thead>
            <tbody>

              {% for app in applications %}
              <tr>
                <td>
                  <a href="{% url 'select_app_name' app %}" target="_self">
                   <input  type="submit" name = "appName" value ={{app}}  class ="button button1 " onclick="select_app_name({app})"></input>
                  </a>
                </td>
              </tr>

              {% endfor %}
              
            </tbody>
          </table>
      </div>
   </body>
</html>